<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>


<link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Federo' rel='stylesheet' type='text/css'>
<style>
body {
  margin: 0 auto;
  max-width: 600px;
  background: black;
}

div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

button {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 0 auto;
  background: transparent;
  border-color: transparent;
  position: relative;
  right: -150px;
  bottom: -250px;
  z-index: 1;
}

.background{
  background:black;
}

.backgroundnew{
  transition: 2.5s all; 
  transition-timing-function: linear;
  height: 725px;
  margin: 0 auto;
  width: 2500px;
  background-image:url("http://newsroom.ucla.edu/portal/ucla/artwork/3/8/7/7/0/238770/Pauley_Pavilion_Restoration_-_Night.jpg");
  background-size: 1500px 550px;
  background-repeat: no-repeat;
  position: relative;
  top:-200px;
  left: -150px;
  position:absolute;
  clip: rect(0px, 0px, 200px, 0px)
  opacity: 1;
  border-color: white;
}

h1{
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 0 auto;
  background: transparent;
  position: relative;
  bottom: -318px;
  z-index: 1;
  animation-delay: 5s;
}

h2{
  font-family: 'Garamond', italicize;
  text-align: center;
  position:absolute;
  top:375px;
  left:405px;
  font-size: 25px;
  color: white;
}
.lineone {
  color: #aaaaaa;
  height: 3px;
  width: 600px;
  background: #aaaaaa;
  position: absolute;
  top: 330px;
  left: -90px;
}

.linetwo {
  color: #aaaaaa;
  height: 3px;
  width: 600px;
  background: #aaaaaa;
  position: absolute;
  top: 330px;
  right: -90px;
}
.linethree {
  color: #aaaaaa;
  height: 3px;
  width: 600px;
  background: #aaaaaa;
  position: absolute;
  top: 370px;
  left: -200px;
}

.linefour {
  color: #aaaaaa;
  height: 3px;
  width: 600px;
  background: #aaaaaa;
  position: absolute;
  top: 370px;
  right: -240px;
}

.twitter {
  font-family: 'Federo';
  font-size: 33px;
  color: white;
  position: relative;
  top: 330px;
  right: 150px;
}

.twitterpic {
  top: 90px;
  right: 219px;
}

.twitterpic:hover {
  transition: 1.5s;
  top: 90px;
  right: 20px;
}

.instagram {
  font-family: 'Federo';
  font-size: 33px;
  color: white;
  position: relative;
  top: -150px;
  right: -555px;
}

.instapic {
  top:-390px;
  right:-515px;
}

.instapic:hover {
  transition: 1.5s;
  top: -390px;
  right: -745px;
}

</style>

</head>

<body>
<button>#LAHACKS</button>
<div class="background"> </div>
<h1> <font color=#aaaaaa>#LAHACKS </font></h1>
<div class="lineone"></div>
<div class="linetwo"></div>
<h2>bringing You what everyone is saying about LA Hacks</h2>
<div class="linethree"></div>
<div class="linefour"></div>

<div class="twitter">TWITTER </div>
<div class="twitterpic"> <img HEIGHT=40 WIDTH=70 src="http://i1.ytimg.com/vi/osxjSGdnTME/maxresdefault.jpg"> </div>
<div class="instagram"> INSTAGRAM </div>
<div class="instapic"><img HEIGHT=40 WIDTH=40 src ="http://www.halpern.co.uk/wp-content/uploads/2013/01/Instagram-Logo-with-Black-Background.jpg"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>

$("div.lineone").hide();
$("div.linetwo").hide();
$("h1").hide();
$("h2").hide();
$("div.linethree").hide();
$("div.linefour").hide();
$("div.twitter").hide(); 
$("div.twitterpic").hide();
$("div.instagram").hide(); 
$("div.instapic").hide();
  $("button").click(function() {
   $('.background').toggleClass('backgroundnew');
   $("div.lineone").hide();
   $("div.linetwo").hide();
   $("button").hide();
   $("div.lineone").slideUp (200).delay(3000).fadeIn(400);
   $("div.linetwo").slideUp (200).delay(3000).fadeIn(400);
     $("h1").slideUp(500).delay(3000).fadeIn(400);
     $("h2").slideUp(500).delay(3000).fadeIn(400);
   $("div.linethree").slideUp (200).delay(3000).fadeIn(400);
   $("div.linefour").slideUp (200).delay(3000).fadeIn(400);
   $("div.twitter").slideUp(200).delay(3000).fadeIn(400);
   $("div.twitterpic").slideUp(200).delay(3000).fadeIn(400);
   $("div.instagram").slideUp(200).delay(3000).fadeIn(400);
   $("div.instapic").slideUp(200).delay(3000).fadeIn(400);   
  });

</script>
</body>

<html>
  <head>
    <!--- JavaScript -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Stylesheets -->
    
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

<body>
<div class="header_ae">
  <ul>
    <li>
      <a href="http://instagram.com" class="link">
        <span class="hover">Instagram</span>
        <span class="base">Instagram</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com" class="link">
        <span class="hover">Twitter</span>
        <span class="base">Twitter</span>
      </a>
    </li>
    <li>
      <a href="http://facebook.com" class="link">
        <span class="hover">Facebook</span>
        <span class="base">Facebook</span>
      </a>
    </li>
  </ul>
</div>
<h1>Event Streeem</h1>
<h2> <font color="#ffffff"> # the hashtag of events </font></h2>
<div class="center">
  <input type="sign up" value="Sign Up" class="sign_up center" />
  <input type="submit" value="Login" class="login center" /> <br>
</div>
<div class="picture first">
  <p>live instagram feed <br />
  <small> Beautiful photos, taken by guests, provide breath-taking views of events. </small></p>
</div>

<div class="picture second">
  <p> real-time twitter updates <br />
  <small>Never miss a beat with guest generated news coverage from Twitter.</small></p>
</div>
  
<div class="picture third">
  <p> facebook posts <br />
  <small>Hear directly from the people attending an event about their experiences.</small></p>
</div>


<script>
  $('div').on('click', function() {
      $(this).toggleClass('show-description');
  });
  $('sign_up').on('click', function() {
    $(this).toggleClass('new_color');
  });
</script>

</body>
</html>

<% @tweets.each do |tweet| %>
	<p><%= tweet %></p>
<% end %>

<% @instagram.each do |instagram| %>
	<p><%= image_tag instagram.images.standard_resolution.url %></p>
<% end %>