<!DOCTYPE html>
<html>
  <head>
    <!--- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

<body>
<div class="pageWrap">
  <ul>
    <li>
      <a href="#" class="link">
        <span class="hover">Instagram</span>
        <span class="base">Instagram</span>
      </a>
    </li>
    <li>
      <a href="#" class="link">
        <span class="hover">Twitter</span>
        <span class="base">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" class="link">
        <span class="hover">Facebook</span>
        <span class="base">Facebook</span>
      </a>
    </li>
  </ul>
</div>
<h1>Event Streeem</h1>
<h2> <font color="#aaaaaa"> the hashtag of events </font></h2>
<div class="center">
  <input type="sign up" value="Sign Up" class="sign_up center" />
  <input type="submit" value="Login" class="login center" /> <br>
</div>
<div class="picture first">
  <p>live instagram feed <br />
  <small> Beautiful photos, taken by guests, provide breath-taking views of events. </small></p>
</div>

<div class="picture second">
  <p> real-time twitter updates <br />
  <small>Never miss a beat with guest generated news coverage from Twitter.</small></p>
</div>
  
<div class="picture third">
  <p> facebook posts <br />
  <small>Hear directly from the people attending an event about their experiences.</small></p>
</div>


<script>
  $('div').on('click', function() {
      $(this).toggleClass('show-description');
  });
  $('sign_up').on('click', function() {
    $(this).toggleClass('new_color');
  });
</script>

</body>
</html>

